.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .color-picker {
    margin-bottom: 20px;
  }
  
  .crypto-picker {
    width: 300px;
    margin-left: 20px;
    
  }
  
  .crypto-chart {
    margin-bottom: 30px;
  }