.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 1em;
}

.crypto-chart-div {
  margin-bottom: 30px;
}

.picker-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker {
  margin-right: 20px;
}


/* För mindre skärmar */
@media (max-width: 767px) {
  .main-div {
    grid-template-columns: 1fr;
  }
  
  /* Anpassa chart-elementet */
  #crypto-chart {
    width: 100%;
    height: auto;
  }
}

